table {
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid black;
}

.photo{
    max-height: 20px;
}
#errors{
    color: red;
}
.welcomeMessage{
    color: red;
    font-size: 50px;
    font-family: cursive;
}
#ContactDiv {
    display: none;
}
#errorsDiv{
    display: none;
}